@if (Item != null)
{
    <div class="row gx-1 list-row align-items-center @(!Item.Enabled ? "list-row-disabled": "")">
        <div class="p-2 col-xl-2 col-lg-4 col-md-12">
            <span class="d-inline d-xl-none"><ScriptsStatusIcon Item="@Item" /></span>
            <span class="item-title">@Item.Title</span>
        </div>
        <div class="p-2 col-xl-4 col-lg-8 col-md-12">
            @Item.Description
        </div>
        <div class="p-2 col-xl-6 col-lgx-12">
            <div class="row gx-1 align-items-center">
                <div class="p-2 col-xl-1 d-none d-xl-block">
                    <ScriptsStatusIcon Item="@Item" />
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12">
                    <span class="d-inline d-xl-none item-subtitle">Created:</span>
                    <span class="item-date">@Item.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")</span>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-12">
                    <span class="d-inline d-xl-none item-subtitle">Updated:</span>
                    <span class="item-date">@(Item.UpdatedAt == null ? "-" : ((DateTime)Item.UpdatedAt).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                </div>
                <div class="col-xl-5 col-lg-3 col-md-12">
                    <ScriptsActions Item="@Item" />
                </div>
            </div>
        </div>
    </div>
}