<div class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" @onclick="@(() => CloseForm(true))"></button>
            </div>
            @if (!ModalIsForm)
            {
                <div class="modal-body">
                    @ModalBody
                    @if (FormAlertClass != null && FormAlertMessage != null)
                    {
                        <div class="alert alert-@FormAlertClass mt-2" role="alert">
                            @FormAlertMessage
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    @if (!HideCancelButton)
                    {
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@(() => Close(true))">Close</button>
                    }
                    <button type="button" class="btn btn-@ConfirmCssColor" @onclick="@(() => Close(false))">@ConfirmLable</button>
                </div>
            }
            else
            {
                @if (FormObject != null && ModalBody != null)
                {
                    <EditForm Model=@FormObject OnValidSubmit=@(() => CloseForm(false))>
                        @if (FormValidator == null)
                        {
                            <DataAnnotationsValidator />
                        }
                        else
                        {
                            @FormValidator
                        }
                        <div class="modal-body">
                            @ModalBody
                            @if (FormAlertClass != null && FormAlertMessage != null)
                            {
                                <div class="alert alert-@FormAlertClass mt-2" role="alert">
                                    @FormAlertMessage
                                </div>
                            }
                        </div>
                        <div class="modal-footer">
                            @if (!HideCancelButton)
                            {
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick=@(() => CloseForm(true))>Close</button>
                            }
                            <button type="submit" class="btn btn-@ConfirmCssColor">@ConfirmLable</button>
                        </div>
                    </EditForm>
                }
                else
                {
                    <div class="modal-body">
                        No form data received
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @onclick="@(() => CloseForm(false))">Close</button>
                    </div>
                }
            }
        </div>
     </div>
</div>